<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>

                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="plustun">
            <ul>
                <h2>FOOTBALL</h2>
            </ul>
        </div>
        <div class="logotunisie">
            <img src="assets/img/ball.gif">
        </div>
        <div class="logotun">
            <img src="assets/img/ball.gif">
        </div>
        <div class="container">
            <div class="news">
                <div class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="pins">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </div>
                <div class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="pins">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </div>
                <div class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="pins">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </div>
                <div class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="pins">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </div>
                <div class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="pins">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </div>
                <div class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="pins">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </div>
                <div class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="pins">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </div>
                <div class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="pins">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </div>
                <div class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="pins">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </div>
                <div class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="pins">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </div>
                <div class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="articlecontent">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </div>
                <class class="article small">
                    <img src="assets/img/foot.jpg">
                    <div class="articlecontent">
                        <h2>
                            <a href="newstun.html"></a>
                        </h2>
                        <p></p>
                    </div>
                </class>
            </div>
            <div class="footer">
                <div class="bottomlinks">
                    <h5> FOOTBALL </h5>
                    <ul>
                        <li><a href="ftf1.html">Ligue Pro1 Tunisie</a></li>
                        <li><a href="ftf2.html">Ligue Pro2 Tunisie</a></li>
                        <li><a href="coupetun.html">Coupe de Tunisie</a></li>
                        <li><a href="supercoupetun.html">Super Coupe Tunisie</a></li>
                        <li><a href="ESPERANCE.html">Esperance Sportive de Tunis</a></li>
                    </ul>
                </div>
                <div class="bottomlinks">
                    <h4>COMMUNITY</h4>
                    <ul>
                        <li><a href="stars.html">Stars</a></li>
                        <li><a href="JO.html">Jeux Olymiques</a></li>
                        <li><a href="fifa.html">FIFA</a></li>
                        <li><a href="caf.html">CAF</a></li>
                        <li><a href="uefa.html">UEFA</a></li>
                    </ul>
                </div>
                <div class="bottomlinks">
                    <h4>SPORTS</h4>
                    <ul>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="HB.html">Handball</a></li>
                        <li><a href="BB.html">Basketball</a></li>
                        <li><a href="VB.html">Volleyball</a></li>
                        <li><a href="ATHL.html">Athlétisme</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>