<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>Vendé Globe : Zéro risque en pleine tempête</h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport8.jpg">
                    <div class="articlecontent">
                        <h4>Ruyant et Dalin prudents dans la tempête</h4>
                        <p1><br>Eviter la casse à tout prix, telle était la volonté de la course au moment d’essuyer le terrible front, ses vents à 40 nœuds et sa mer cassante. Pour le moment, c’est du tout bon pour Charlie Dalin et Thomas Ruyant, contraints
                            à l’humilité face aux éléments de par leur positionnement, bien que le Nordiste se soit un peu plus protégé que le leader de la course en prenant un peu plus au nord mardi soir. Décryptage de ces choix de course par Yannick
                            Bestaven.
                            <br>« Nous qui aimons d’habitude aller vite, là je fais tout pour ne pas être en avance sur les routages. Je laisse passer la dépression gentiment devant moi et je mets du nord-est dans ma route. J’y vais à petite vitesse pour
                            éviter d’aller dans les vents forts et dans la grosse mer. Ça ne sert à rien, c’est du casse-bateau et pas de la course. »
                        </p1>
                        <h4><br>Le classement à 12h</h4>
                        <p1><br>1) Charlie Dalin (Apivia)

                            <br> 2) Thomas Ruyant (LinkedOut)

                            <br> 3) Louis Burton (Bureau Vallée 2)

                            <br> 4) Yannick Bestaven (Maître Coq IV)

                            <br> 5) Benjamin Dutreux (Omia – Water Family)
                            <br> <br>Déjà un mois que les skippeurs sont partis des Sables d’Olonne pour affronter l’Everest des mers. Ça n’a pas toujours été facile et, disons franchement les choses, les conditions n’ont pas toujours été favorables à
                            la flotte. Ajoutez à cela la peur de la casse et vous obtenez un joli retard sur le temps de référence d'Armel Le Cléac'h​. Le vainqueur du Vendée Globe 2016 avait déjà franchi la longitude du cap Leeuwin au même stade de la
                            course. Autant dire que si les choses ne bougent pas très vite, son record pourrait ne pas être battu. Rappelons néanmoins que sa remontée de l’Atlantique avait été relativement lente et qu’à 40 % de course, rien n’est encore
                            fait. Mais ce serait une première depuis le deuxième Vendée Globe que le record de l’épreuve ne tomberait pas face à la nouvelle génération.
                        </p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2><a href="news7.html">LA JUVENTUS HUMILIE LE BARÇA (0-3)</a></h2>
                    <img src="assets/img/sport7.jpg">
                    <p>La Juventus Turin a signé une victoire sensationnelle au Camp Nou face au FC Barcelone...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news5.html">ES Tunis : Raed Fedâa de retour au bercail</a>
                    </h2>
                    <img src="assets/img/sport5.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news2.html">TENNIS:NADAL DÉCORÉ PAR LA COMMUNAUTÉ DE MADRID</a></h2>
                    <img src="assets/img/sport2.jpg">
                    <p>Rafael Nadal a reçu jeudi la Grand-Croix de l'Ordre du 2 mai de la Communauté de...</p>
                </div>
                <div class="pins">
                    <h2><a href="news1.html">Ligue des champions : PSG-Basaksehir interrompu</a></h2>
                    <img src="assets/img/sport1.jpg">
                    <p>le match PSG-Basaksehir interrompu,Erdogan dénonce le rac...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news11.html">Moore espère plus de magie</a>
                    </h2>
                    <img src="assets/img/sport11.jpg">
                    <p>Ryan Moore pense que Magical est capable de remporter sa huitième victoire dans le Groupe 1....</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>