<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>Paris 2024 : le breakdance fait son entrée au programme des Jeux olympiques</h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport10.jpg">
                    <div class="articlecontent">
                        <h4>Le breakdance fera ses premiers pas dans l'arène olympique aux Jeux olympiques de Paris en 2024, tandis qu'escalade, skateboard et surf seront reconduits après leurs débuts l'été prochain aux JO de Tokyo, a annoncé lundi le président
                            du CIO, Thomas Bach.
                        </h4>
                        <p1><br>Le breakdance fera ses premiers pas dans l'arène olympique aux Jeux olympiques de Paris en 2024, principale nouveauté d'un programme moins copieux qu'à Tokyo mais modernisé et paritaire, a tranché, lundi 7 décembre, le Comité
                            international olympique (CIO).
                            <br>Étape clé dans la préparation des JO parisiens, la commission exécutive du CIO a validé un menu destiné à "réduire le coût et la complexité liés à l'accueil des Jeux", selon son patron, Thomas Bach.
                            <br>Le nombre d'athlètes passe donc de 11 092 à Tokyo à 10 500 à Paris, et les podiums de 339 à 329, tout en atteignant pour la première fois une stricte parité et en lorgnant vers "la jeunesse", a résumé le dirigeant allemand.
                            <br>Parmi les sacrifiés : le 50 km marche hommes, au programme des JO depuis 1932. Cette course emblématique par sa gestuelle complexe et ses défaillances, comme celle du Français Yohann Diniz aux JO-2016 de Rio, sera remplacée
                            par "une épreuve mixte à définir", selon le CIO.
                        </p1>
                        <h4><br>Le breakdance arrive aux JO
                        </h4>
                        <p1><br>Parmi les grands gagnants, les quatre disciplines "additionnelles" ajoutées aux 28 sports olympiques d'été. Outre le breakdance, le CIO a reconduit l'escalade, le surf et le skateboard, déjà programmés à Tokyo.

                            <br> "Il va y avoir un vent de fraîcheur derrière ces nouveaux sports", s'est réjoui lors d'un point presse Jean-Philippe Gatien, ancien pongiste médaillé d'argent aux JO-1992 et directeur des Sports de Paris-2024.

                            <br> Il a prédit "un succès phénoménal" au breakdance, ou "breaking" pour ses participants, branche du hip-hop née dans les années 1970 sur le bitume du Bronx (New York). D'abord arbitrées par les acclamations du quartier,
                            ses joutes font depuis 30 ans l'objet de tournois internationaux, dont la Battle of the Year, créée en 1991.</p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2><a href="news2.html">TENNIS:NADAL DÉCORÉ PAR LA COMMUNAUTÉ DE MADRID</a></h2>
                    <img src="assets/img/sport2.jpg">
                    <p>Rafael Nadal a reçu jeudi la Grand-Croix de l'Ordre du 2 mai...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news5.html">ES Tunis : Raed Fedâa de retour au bercail</a>
                    </h2>
                    <img src="assets/img/sport5.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news15.html">Jackson ''ne peut toujours pas goûter ni sentir'' après COVID</a></h2>
                    <img src="assets/img/sport15.jpg">
                    <p>Lamar Jackson a lancé pour 107 verges et deux touchés, ainsi que 94 verges au sol et un score à...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news3.html">KENIN JOUEUSE DE L'ANNÉE 2020</a>
                    </h2>
                    <img src="assets/img/sport3.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news6.html">Qui peut encore gagner la Race to Dubai?</a></h2>
                    <img src="assets/img/sport6.jpg">
                    <p>Patrick Reed, Tommy Fleetwood, Collin Morikawa et Lee Westwood peuvent garantir la...</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>