<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>Au marathon de Valence, les chronos record relancent le débat sur le dopage technologique
                    </h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport14.jpg">
                    <div class="articlecontent">
                        <h3>Dimanche, le marathon et le semi-marathon de Valence, en Espagne, ont laissé tout le monde sans voix : trente participants ont bouclé le premier en moins de 2h10, tandis que le record du monde du second a été battu quatre fois
                            dans la même course. Ces performances hors normes relancent le débat autour des chaussures à plaque de carbone.</h3>
                        <p1><br>Ce sont des chronos qui laissent pantois. Dimanche, trente participants au marathon de Valence, en Espagne, l'ont bouclé en moins de 2h10, du jamais vu. Les quatre Français engagés ont même tous battu leur record personnel.
                            Dans le semi-marathon, le record du monde a été explosé quatre fois en une seule course, sous la barre des 58 minutes. Les coureurs eux-mêmes reconnaissent d'ailleurs qu'il est difficile de prendre de tels chronos au sérieux.
                            Et l'explication pourrait se nicher... dans les baskets des athlètes.
                        </p1>
                        <p1><br><br>En effet, "sur les résultats des dernières semaines, il n'y a pas de facteur explicatif en dehors de l'affaire des semelles", estime le consultant athlétisme d'Europe 1, Jean-Claude Perrin. Les grandes marques fabriquent
                            désormais des baskets de course avec des lames de carbone dans la semelle. Cela permet un meilleur rebond du pied, donc d'aller un peu plus vite. Et toute la question est de savoir si cela peut s'apparenter à du dopage technologique.
                        </p1>
                        <h4><br><br>Le caillou dans la semelle de la Fédération d'athlétisme
                        </h4>
                        <p1><br><br>La question embarrasse la Fédération internationale d'athlétisme depuis l'automne 2019, lorsque l'équipementier Nike avait sorti ses Vaporfly, chaussures intégrant une plaque en fibre de carbone. Ce sont ces baskets que
                            portait le Kényan Eliud Kipchoge à Vienne, le 12 octobre 2019, lorsqu'il était passé sous la barre des deux heures pour le marathon. De nombreux autres athlètes équipés de Vaporfly avaient ensuite battu des records personnels
                            ou des records tout court.
                            <br><br> Début 2020, la fédération internationale d'athlétisme avait décidé d'interdire les prototypes de chaussures en compétition, mais aussi de limiter l'épaisseur de la semelle à 40 mm et la présence d'une seule plaque
                            métallique par basket. Fin juillet, l'épaisseur maximale de la semelle a même été abaissée sous 40 mm pour les courses sur piste et certaines épreuves comme les lancers et les sauts.
                            <br><br>Le marathon de Valence, qui est donc une course sur route, n'était pas concerné. La plupart des athlètes arborait ces chaussures dernière génération, dont le Kényan Kibiwott Kandie, qui a explosé le record du semi-marthon
                            avec des Adidas à insert de carbone aux pieds. Mais d'autres facteurs peuvent aussi expliquer les chronos incroyables, comme la météo idéale et un parcours très plat, réputé ultra-rapide.
                        </p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2>
                        <a href="news3.html">KENIN JOUEUSE DE L'ANNÉE 2020</a>
                    </h2>
                    <img src="assets/img/sport3.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news7.html">LA JUVENTUS HUMILIE LE BARÇA (0-3)</a></h2>
                    <img src="assets/img/sport7.jpg">
                    <p>La Juventus Turin a signé une victoire sensationnelle au Camp Nou face au FC Barcelone...</p>
                </div>
                <div class="pins">
                    <h2><a href="news15.html">Jackson ''ne peut toujours pas goûter ni sentir'' après COVID</a></h2>
                    <img src="assets/img/sport15.jpg">
                    <p>Lamar Jackson a lancé pour 107 verges et deux touchés, ainsi que 94 verges au sol et un score à...</p>
                </div>
                <div class="pins">
                    <h2><a href="news1.html">Ligue des champions : PSG-Basaksehir interrompu</a></h2>
                    <img src="assets/img/sport1.jpg">
                    <p>le match PSG-Basaksehir interrompu,Erdogan dénonce le rac...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news11.html">Moore espère plus de magie</a>
                    </h2>
                    <img src="assets/img/sport11.jpg">
                    <p>Ryan Moore pense que Magical est capable de remporter sa huitième victoire dans le Groupe 1....</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>