<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>F1 -HAAS CONDAMNE LE COMPORTEMENT DE NIKITA MAZEPIN, SON FUTUR PILOTE</h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport4.jpg">
                    <div class="articlecontent">
                        <h4>SAISON 2021 - La collaboration entre Nikita Mazepin et Haas commence très mal. Le pilote russe, épinglé pour avoir fait et diffusé des gestes déplacés envers une femme, a poussé l'écurie qui l'a promu en F1 à réagir.</h4>
                        <p1><br>Nikita Mazepin n'a pas encore fait le grand saut en F1. Mais il a déjà sérieusement irrité Haas, l'écurie qui a choisi de lui offrir sa chance en vue de la saison 2021. Dans un communiqué, l'équipe américaine a fermement condamné
                            les actes du pilote de Formule 2, auteur de gestes déplacés envers une femme. Le Russe les avait lui-même filmés et diffusés sur les réseaux sociaux, dans la nuit de mardi à mercredi.
                        </p1>
                        <p1><br><br>Rapidement relayés, les faits ont suscité une vague d'indignation sur la toile, où le hashtag #MazepinOut a rapidement trouvé de l'écho. "Haas ne tolère pas le comportement de Nikita Mazepin dans la vidéo récemment publiée
                            sur ses réseaux sociaux", a pour sa part écrit sa future écurie, qui a décidé de l'aligner aux côtés de Mick Schumacher à la place du binôme composé de Romain Grosjean et Kevin Magnussen.
                        </p1>
                        <p1><br><br>Actuellement classé 5e au championnat de Formule 2, Nikita Mazepin a obtenu un baquet en F1 grâce notamment au soutien de son père, le milliardaire Dmitry Mazepin. Il s'était déjà fait remarquer à plusieurs reprises pour
                            des comportements contestables sur… et en dehors de la piste.
                            <br><br>"Je tiens à m'excuser à la fois pour mon propre comportement, inapproprié, et pour l'avoir diffusé sur les réseaux sociaux", a réagi Nikita Mazepin, mercredi matin, après avoir supprimé la vidéo en question. "Je suis
                            désolé d'avoir offensé et de l'embarras dans lequel j'ai mis l'écurie Haas. […] Je promets d'en tirer des leçons."
                        </p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2><a href="news7.html">LA JUVENTUS HUMILIE LE BARÇA (0-3)</a></h2>
                    <img src="assets/img/sport7.jpg">
                    <p>La Juventus Turin a signé une victoire sensationnelle au Camp Nou face au FC Barcelone...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news3.html">KENIN JOUEUSE DE L'ANNÉE 2020</a>
                    </h2>
                    <img src="assets/img/sport3.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news2.html">TENNIS:NADAL DÉCORÉ PAR LA COMMUNAUTÉ DE MADRID</a></h2>
                    <img src="assets/img/sport2.jpg">
                    <p>Rafael Nadal a reçu jeudi la Grand-Croix de l'Ordre du 2 mai de la Communauté de...</p>
                </div>
                <div class="pins">
                    <h2><a href="news1.html">Ligue des champions : PSG-Basaksehir interrompu</a></h2>
                    <img src="assets/img/sport1.jpg">
                    <p>le match PSG-Basaksehir interrompu,Erdogan dénonce le rac...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news11.html">Moore espère plus de magie</a>
                    </h2>
                    <img src="assets/img/sport11.jpg">
                    <p>Ryan Moore pense que Magical est capable de remporter sa huitième victoire dans le Groupe 1....</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>