<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>Today Is “National Take Your Dog to Work Day”</h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <img src="assets/img/article2.jpg">
                    <div class="articlecontent">
                        <h1></h1>
                        <p1>Amazon (AMZN, Tech30) has filed for a patent for beehive-like towers that would serve as multi-level fulfillment centers for its delivery drones to take off and land. The facilities would be built vertically to blend in with high
                            rises in urban areas. Amazon envisions each city would have one. The patent application, filed in December 2015 and published on Thursday by the U.S. Patent and Trademark Office, features several drawings of these buildings,
                            such as the beehive, a cylinder-shaped center and one that looks like a UFOAmazon (AMZN, Tech30) has filed for a patent for beehive-like towers that would serve as multi-level fulfillment centers for its delivery drones to
                            take off and land. The facilities would be built vertically to blend in with high rises in urban areas. Amazon envisions each city would have one. The patent application, filed in December 2015 and published on Thursday by
                            the U.S. Patent and Trademark Office, features several drawings of these buildings, such as the beehive, a cylinder-shaped center and one that looks like a UFO</p1>
                    </div>
                    <auteur>
                        Ecrit par : hamda yedes
                    </auteur>
                    <date>
                        Tunis le 08/12/2020
                    </date>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2>India</h2>
                    <img src="assets/img/pin2.jpg">
                    <p>India successfully launches PSLV-C38 from Sriharikota</p>
                </div>
                <div class="pins">
                    <h2>Cricket</h2>
                    <img src="assets/img/pin2.jpg">
                    <p>WIvIND:Rain plays spoilsport after Shikhar Dhawan's 87, India placed comfortably</p>
                </div>
                <div class="pins">
                    <h2>Education</h2>
                    <img src="assets/img/pin3.jpg">
                    <p>NEET results declared, five transgenders qualify</p>
                </div>
                <div class="pins">
                    <h2>Science & Tech</h2>
                    <img src="assets/img/pin4.jpg">
                    <p>Smart eye in the sky': How ISRO's Cartosat-2 will boost India's military surveillance capabilities</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>