<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>Moore espère plus de magie à Hong Kong</h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport11.jpg">
                    <div class="articlecontent">
                        <h4>Ryan Moore pense que Magical est capable de remporter son huitième succès dans le groupe 1 lors de la Longines Hong Kong Cup dimanche à Sha Tin.</h4>
                        <p1><br>Les anciens coureurs formés par Aidan O'Brien Highland Reel, Yeats, Minding et Rock Of Gibraltar ont tous remporté sept succès de haut niveau, mais Magical pourrait relever la barre pour le gestionnaire de Ballydoyle si elle
                            triomphe dans le long métrage de 10 furlong.
                        </p1>
                        <p1><br><br>Magical a ajouté à la fois la Tattersalls Gold Cup et les Irish Champion Stakes à son bilan cette saison et a été vue pour la dernière fois à la poursuite de Tarnawa dans le Breeders 'Cup Turf à Keeneland le mois dernier.
                        </p1>
                        <p1><br><br>Alors que Moore pense qu'elle est celle à battre, il se méfie du défi formé par les Japonais ainsi que de l'espoir à domicile Furore, qui a remporté ses deux dernières sorties pour Tony Cruz.

                            <br><br> Moore a déclaré: "Elle a été formidable pendant longtemps et c'est fantastique qu'elle soit ici. Elle a remporté sept groupes.
                            <br>«La réalité est qu'ils l'ont probablement à battre, mais encore une fois, vous respectez toujours les chevaux qui sont là-dedans.


                            <br>«Il y a trois chevaux japonais intelligents là-dedans qui ont tous remporté des groupes (Danon Premium, Win Bright et Normcore).

                            <br>"Et Furore est en bonne forme. C'est un petit champ, mais il n'y en a pas un mauvais là-dedans, je ne pense pas."
                            <br><br>Moore fait également équipe avec le bossu formé par O'Brien dans le Longines Hong Kong Vase, le poulain ayant terminé cinquième de la Breeders 'Cup Turf lors de sa dernière descente.
                            <br>"C'est un cheval magnifique, nous l'avons toujours tenu en haute estime", a-t-il déclaré.

                            <br>"Il a mis du temps à venir cette année, mais vous le verrez sur la piste - il est très bien fait, un poulain très fort.

                            <br>"Il était très impressionnant quand il a remporté le week-end du Grand Prix de Paris (on) Arc Trials et, à la Breeders Cup, il n'a pas été battu loin dans ce qui était une sorte de course désordonnée.

                            <br>"De toute évidence, il n'y en a que sept là-dedans (le Vase), Exultant court toujours sa course mais il (Mogul) chercherait à avoir une chance solide dans cette course."

                            <br><br>Moore sera également en action dans le Sprint de Hong Kong alors qu'il fait équipe avec le concurrent japonais Danon Smash.

                            <br>Son entraîneur Takayuki Yasuda a remporté le prix des six stades avec le père de Danon Smash Lord Kanaloa en 2012 et 2013.

                            <br><br>Danon Smash a terminé huitième de près l'année dernière, mais Moore s'attend à une tâche difficile contre l'ancienne star australienne et vainqueur de l'Everest Classique Legend, qui a sa première course pour Casper
                            Fownes.

                            <br>"Il a l'air bien. Il a beaucoup de forme dans le livre et il est toujours difficile de battre les chevaux de Hong Kong au sprint", a-t-il déclaré.

                            <br>"De toute évidence cette année, Classique Legend avait l'air exceptionnel en Australie. Comme toujours, c'est une course difficile et nous devons probablement accélérer un peu, mais j'espère qu'il pourra faire une bonne
                            course et bien performer."

                            <br><br>Moore a triomphé à cinq reprises aux courses internationales de Hong Kong - deux fois dans le Vase avec le globe-trotter Highland Reel en 2015 et 2017, la Coupe avec Snow Fairy (2010) et Maurice (2016) et le Mile avec
                            Maurice (2015).
                        </p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2>
                        <a href="news3.html">KENIN JOUEUSE DE L'ANNÉE 2020</a>
                    </h2>
                    <img src="assets/img/sport3.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news7.html">LA JUVENTUS HUMILIE LE BARÇA (0-3)</a></h2>
                    <img src="assets/img/sport7.jpg">
                    <p>La Juventus Turin a signé une victoire sensationnelle au Camp Nou face au FC Barcelone...</p>
                </div>
                <div class="pins">
                    <h2><a href="news15.html">Jackson ''ne peut toujours pas goûter ni sentir'' après COVID</a></h2>
                    <img src="assets/img/sport15.jpg">
                    <p>Lamar Jackson a lancé pour 107 verges et deux touchés, ainsi que 94 verges au sol et un score à...</p>
                </div>
                <div class="pins">
                    <h2><a href="news1.html">Ligue des champions : PSG-Basaksehir interrompu</a></h2>
                    <img src="assets/img/sport1.jpg">
                    <p>le match PSG-Basaksehir interrompu,Erdogan dénonce le rac...</p>
                </div>
                <div class="pins">
                    <h2><a href="news6.html">Qui peut encore gagner la Race to Dubai?</a></h2>
                    <img src="assets/img/sport6.jpg">
                    <p>Patrick Reed, Tommy Fleetwood, Collin Morikawa et Lee Westwood peuvent garantir la...</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>