<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>l'ancien pilier anglais Steve Thompson « ne se souvient pas » avoir gagné la Coupe du monde en 2003</h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport9.jpg">
                    <div class="articlecontent">
                        <h4>Commotions : Atteint de démence précoce, l'ancien pilier anglais Steve Thompson « ne se souvient pas » avoir gagné la Coupe du monde en 2003<br> RUGBY L'ancien pilier souffre de démence précoce à 42 ans en raison des commotions</h4>
                        <p1><br>Steve Thompson a gagné la Coupe du monde en 2003 avec l’Angleterre, remporté le Grand Chelem et plein d’autres trophées dont le rugby lui a fait cadeau. En contrepartie, celui-ci l’a marqué à vie et aujourd’hui, on lui a diagnostiqué
                            une démence précoce ainsi qu’une encéphalopathie traumatique chronique probable. A seulement 42 ans. Quand il regarde les matchs de l’époque, dit-il au Guardian, « c’est comme si je regardais jouer l’Angleterre maintenant.
                            Sauf que j’étais là. Mais je ne me souviens pas du tout d’avoir été là. Honnêtement, je ne connais le score d’aucun de ces matchs. » Parfois, il lui arrive même d’oublier le nom de sa femme, où il en était dans un livre ou
                            quelle série il a regardée.
                            <br>Ce genre de témoignage émanant de joueurs de rugby n’est ni inédit, ni isolé. Une action en justice va ainsi être intentée par une centaine de rugbymen qui vivent avec des séquelles de commotions cérébrales contre World
                            rugby et les fédérations anglaise et galloise. Ce groupe composé d’une majorité de jeunes retraités estime que les instances ont mal pris en charge ces commotions et même parfois fermé les yeux dessus. L’ancien flanker anglais
                            Michael Lipman a par exemple déclaré au Daily Mail : « si je n’étais pas complètement KO, je jouais. »
                        </p1>
                        <h4><br>De trois semaines à six jours de repos pour les commotionnés
                        </h4>
                        <p1><br>Les joueurs et leur avocat basent leur combat sur une étude de l’université de Monfort, pour prouver que les instances étaient conscientes du danger. La durée de repos en cas de commotions a même été réduite au fil des années.
                            En 2011, elle était de six jours, bien loin des trois semaines imposées en 1977 aux joueurs commotionnés. Les avocats du groupe espèrent que d’autres anciens joueurs se joindront au combat une fois que l’action sera lancée.
                            Un combat, cette fois, pour leur vie.</p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2><a href="news2.html">TENNIS:NADAL DÉCORÉ PAR LA COMMUNAUTÉ DE MADRID</a></h2>
                    <img src="assets/img/sport2.jpg">
                    <p>Rafael Nadal a reçu jeudi la Grand-Croix de l'Ordre du 2 mai...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news5.html">ES Tunis : Raed Fedâa de retour au bercail</a>
                    </h2>
                    <img src="assets/img/sport5.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news15.html">Jackson ''ne peut toujours pas goûter ni sentir'' après COVID</a></h2>
                    <img src="assets/img/sport15.jpg">
                    <p>Lamar Jackson a lancé pour 107 verges et deux touchés, ainsi que 94 verges au sol et un score à...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news3.html">KENIN JOUEUSE DE L'ANNÉE 2020</a>
                    </h2>
                    <img src="assets/img/sport3.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news6.html">Paris 2024 : le breakdance fait son entrée au programme des Jeux olympiques</a></h2>
                    <img src="assets/img/sport10.jpg">
                    <p>Le breakdance fera ses premiers pas dans l'arène olympique aux Jeux olympiques...</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>