<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>Fonds dédié aux pertes de billetterie : 48 millions d'euros alloués au foot, 40 le rugby
                    </h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport17.jpg">
                    <div class="articlecontent">
                        <h4>La ministre des Sports, Roxana Maracineanu, a annoncé vendredi que le fonds de compensation des pertes de billetterie dans le sport sera réparti par secteurs. 48 millions d'euros devraient entre autres être accordés au football,
                            et 40 millions au rugby.
                        </h4>
                        <p1><br>Le fonds de compensation des pertes de billetterie du sport liées au Covid et doté de 107 millions d'euros, permettra d'allouer 48 millions aux clubs de football, 40 millions au rugby, 4 millions au basket, handball et volley-ball
                            et 15 millions aux organisateurs de grands évènements, a annoncé vendredi la ministre des Sports.
                            <br><br>"Tout cela, c'est en accord avec les chiffres (que les clubs) nous ont fournis, les capacités des équipements, d'où les différences, parce que le football et le rugby c'est dans des grands stades, donc beaucoup de perte
                            de chiffre d'affaires", a déclaré la ministre des Sports Roxana Maracineanu lors d'un déplacement dans la métropole lilloise auprès des acteurs sportifs locaux.
                            <br> <br> "Mais on n'a voulu oublier personne, et que les sports avec moins de places soient aussi soutenus et surtout le sport féminin, car on sait que, même hors période de crise, c'est un modèle économique fragile", a-t-elle
                            ajouté. "L'objectif est d'engager un premier versement (...) dès le mois de décembre, puis de verser le solde en 2021, sous réserve que les estimations de pertes des clubs professionnels soient confirmées en clôture d'exercice
                            comptable", a précisé le ministère dans un communiqué.


                        </p1>
                        <h4><br>Les abonnés, une priorité

                        </h4>
                        <p1><br>"L'Etat n'a pas vocation à compenser toute la perte de chiffre d'affaires, mais bien une partie du chiffre d'affaires pour leur permettre de garder la tête hors de l’eau et de pouvoir derrière" poursuivre leur activité "avec
                            un retour progressif des spectateurs dans les stades", a dit Roxane Maracineanu. Elle a réaffirmé sa volonté que "du monde puisse retourner dans les stades" dès le 15 décembre, "mais aussi dans des enceintes fermées".

                        </p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2><a href="news2.html">TENNIS:NADAL DÉCORÉ PAR LA COMMUNAUTÉ DE MADRID</a></h2>
                    <img src="assets/img/sport2.jpg">
                    <p>Rafael Nadal a reçu jeudi la Grand-Croix de l'Ordre du 2 mai...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news5.html">ES Tunis : Raed Fedâa de retour au bercail</a>
                    </h2>
                    <img src="assets/img/sport5.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news15.html">Jackson ''ne peut toujours pas goûter ni sentir'' après COVID</a></h2>
                    <img src="assets/img/sport15.jpg">
                    <p>Lamar Jackson a lancé pour 107 verges et deux touchés, ainsi que 94 verges au sol et un score à...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news3.html">KENIN JOUEUSE DE L'ANNÉE 2020</a>
                    </h2>
                    <img src="assets/img/sport3.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news6.html">Paris 2024 : le breakdance fait son entrée au programme des Jeux olympiques</a></h2>
                    <img src="assets/img/sport10.jpg">
                    <p>Le breakdance fera ses premiers pas dans l'arène olympique aux Jeux olympiques...</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>