<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="shortcut icon" href="assets/img/logo.ico">

    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>Ligue des champions : le match PSG - Basaksehir interrompu</h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport1.jpg">
                    <div class="articlecontent">
                        <h4>Le match entre le Paris Saint-Germain et le Basaksehir Istanbul au Parc des Princes, lors de la dernière journée de la Ligue des champions, a été interrompu mardi. Le quatrième arbitre est accusé d'avoir tenu des propos racistes.
                            En réaction, les joueurs ont décidé de quitter le terrain. De manière anecdotique, le résultat dans l'autre match du groupe H assure au PSG sa qualification pour les huitièmes de finale. la rencontre sur tapis vert.</h4>
                        <p1><br>Triste première en Ligue des champions. Les joueurs du Paris SG et du Basaksehir Istanbul ont quitté la pelouse en cours de match, mardi 8 décembre, pour protester contre des propos racistes supposés du quatrième arbitre lors
                            de la dernière journée du groupe H. Le match n'a jamais repris et devrait être rejoué demain à 18 h 55.<br>La rencontre a dégénéré à la 14e minute, lorsque des membres du staff turc, excédés, ont crié leur colère, audible dans
                            un stade à huis clos : "He said 'negro'", ont-ils lancé en direction du quatrième arbitre, Sebastian Coltescu. Ce dernier venait de signaler à l'arbitre principal, Ovidiu Hategan, roumain comme son collègue, la réaction trop
                            véhémente à son goût de Pierre Achille Webo, membre camerounais de l'encadrement du Basaksehir, après une décision arbitrale.<br>La confusion est encore montée d'un cran quand le directeur de jeu a expulsé Webo du banc de touche.
                            Les joueurs des deux camps ont commencé à s'agglutiner sur le bord du terrain, appelés notamment par l'attaquant remplaçant de Basaksehir Demba Ba, l'international sénégalais natif de la région parisienne, très remonté.<br>Un
                            dialogue a commencé entre joueurs, l'arbitre et le délégué de l'UEFA, sans parvenir à une issue. Neymar et Kylian Mbappé ont notamment été au centre des discussions. Après une dizaine de minutes d'échanges, les joueurs stambouliotes
                            ont pris la direction des vestiaires, suivis par les Parisiens, sous les applaudissements de membres de l'encadrement des clubs.
                        </p1>
                        <h4><br>Les officiels turcs refusent de reprendre le match</h4>
                        <p1><br>Le réglement de l'UEFA stipule que l'équipe qui refuse de jouer perd la rencontre sur tapis vert, en plus d'être sanctionnée d'une amende de 250 000 francs suisses (232 000 euros).<br>"Le quatrième arbitre a dit 'negro' devant
                            tout le monde ! Si le quatrième arbitre est écarté du terrain, alors nous reprendrons. Si le quatrième arbitre reste sur le terrain, alors Basaksehir ne reviendra pas", a déclaré Göksel Gümüsdag à la chaîne de télévision turque
                            TRT Spor.</p1>
                        <p1><br>Peu après, le président turc Erdogan, très proche du club de Basaksehir Istanbul, a réagi en condamnant les propos "racistes", appelant l'UEFA à sévir. "Je condamne fermement les propos racistes tenus à l'encontre de Pierre
                            Webo, membre du staff technique de Basaksehir, et suis convaincu que l'UEFA prendra les mesures qui s'imposent", a déclaré Recep Tayyip Erdogan sur Twitter.</p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2><a href="news2.html">TENNIS:NADAL DÉCORÉ PAR LA COMMUNAUTÉ DE MADRID</a></h2>
                    <img src="assets/img/sport2.jpg">
                    <p>Rafael Nadal a reçu jeudi la Grand-Croix de l'Ordre du 2 mai...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news5.html">ES Tunis : Raed Fedâa de retour au bercail</a>
                    </h2>
                    <img src="assets/img/sport5.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news15.html">Jackson ''ne peut toujours pas goûter ni sentir'' après COVID</a></h2>
                    <img src="assets/img/sport15.jpg">
                    <p>Lamar Jackson a lancé pour 107 verges et deux touchés, ainsi que 94 verges au sol et un score à...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news3.html">KENIN JOUEUSE DE L'ANNÉE 2020</a>
                    </h2>
                    <img src="assets/img/sport3.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news6.html">Qui peut encore gagner la Race to Dubai?</a></h2>
                    <img src="assets/img/sport6.jpg">
                    <p>Patrick Reed, Tommy Fleetwood, Collin Morikawa et Lee Westwood peuvent garantir la...</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>