<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>KENIN JOUEUSE DE L'ANNÉE 2020</h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport3.jpg">
                    <div class="articlecontent">
                        <h3>KENIN JOUEUSE DE L'ANNÉE 2020 AUX WTA PLAYER AWARDS, MLADENOVIC SACRÉE EN DOUBLE</h3>
                        <h4><br>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure joueuse de l'année 2020. La paire franco-hongroise Kristina Mladenovic-Timea Babos a été sacrée en double.</h4>
                        <p1><br>Avant l'interruption de la saison courant mars à cause de la pandémie de coronavirus, Sofia Kenin a marqué les esprits. L'Américaine de 22 ans a remporté le premier tournoi du Grand Chelem de sa carrière en battant Garbine
                            Muguruza en finale de l'Open d'Australie (4-6, 6-2, 6-2). Début mars, Sofia Kenin a enchaîné en s'adjugeant le tournoi de Lyon, après sa victoire face à Anna-Lena Friedsam (6-2, 4-6, 6-4). La deuxième partie de saison a été
                            moins victorieuse pour la quatrième joueuse mondiale, battue en huitième de finale de l'US Open puis lors de la finale de Roland-Garros (par Iga Swiątek).
                        </p1>
                        <p1><br><br>Dans la catégorie double, Kristina Mladenovic a été sacrée tout comme sa compère hongroise, Timea Babos. Ensemble, elles ont remporté les Internationaux d'Australie et de France. La joueuse tricolore de 27 ans a notamment
                            été numéro 1 mondiale en double cette année pendant une semaine. C'était du 24 février au 1er mars 2020.
                        </p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2><a href="news2.html">TENNIS:NADAL DÉCORÉ PAR LA COMMUNAUTÉ DE MADRID</a></h2>
                    <img src="assets/img/sport2.jpg">
                    <p>Rafael Nadal a reçu jeudi la Grand-Croix de l'Ordre du 2 mai...</p>
                </div>
                <div class="pins">
                    <h2><a href="news7.html">LA JUVENTUS HUMILIE LE BARÇA (0-3)</a></h2>
                    <img src="assets/img/sport7.jpg">
                    <p>La Juventus Turin a signé une victoire sensationnelle au Camp Nou face au FC Barcelone...</p>
                </div>
                <div class="pins">
                    <h2><a href="news15.html">Jackson ''ne peut toujours pas goûter ni sentir'' après COVID</a></h2>
                    <img src="assets/img/sport15.jpg">
                    <p>Lamar Jackson a lancé pour 107 verges et deux touchés, ainsi que 94 verges au sol et un score à...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news11.html">Moore espère plus de magie</a>
                    </h2>
                    <img src="assets/img/sport11.jpg">
                    <p>Ryan Moore pense que Magical est capable de remporter sa huitième victoire dans le Groupe 1....</p>
                </div>
                <div class="pins">
                    <h2><a href="news6.html">Qui peut encore gagner la Race to Dubai?</a></h2>
                    <img src="assets/img/sport6.jpg">
                    <p>Patrick Reed, Tommy Fleetwood, Collin Morikawa et Lee Westwood peuvent garantir la...</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>