<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2> George Russell : « J’ai le cœur brisé »
                    </h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport13.jpg">
                    <div class="articlecontent">
                        <h3>Passé tout près d’un succès retentissant en F1 ce dimanche, à l’occasion du Grand Prix de Sakhir, Goerge Russell a joué de malchance pour terminer finalement neuvième.</h3>
                        <h4><br>Le remplaçant de Lewis Hamilton a fait bien mieux que jouer son rôle de joker pour le team Mercedes. Deuxième sur la grille de départ après des qualifications déjà probantes, George Russell a bien failli s’imposer ce dimanche
                            à Sakhir, pour le deuxième GP bahreïni disputé en huit jours. Ce tandis que le poleman Valtteri Bottas est apparu bien décevant, dominé en piste notamment par son coéquipier du jour.</h4>
                        <p1><br>Tout cela en vain puisqu’une bourde du team Mercedes a plombé la course du jeune Britannique de 22 ans: une inversion de pneus entre les deux Flèches d’argent lors d’un arrêt aux stands sous drapeau jaune au 61e tour. « Il
                            y a eu des courses où on m’a enlevé la victoire, mais deux fois aujourd’hui, je n’arrive pas à y croire, dixit l’intéressé, qui ainsi contraint d’en repasser par ses mécanos s’est tout de même relancé jusqu’à talonner le leader,
                            Sergio Perez, avant d’abdiquer sur crevaison dans le money time. Je ne peux pas croire ce qu’il s’est passé. J’ai le cœur brisé, j’avais la course sous contrôle ! »
                            <h4><br>« Ça fait vraiment mal »</h4>
                        </p1>
                        <p1><br><br>« J’ai fait quelques bons dépassements, j’étais excité, j’étais prêt à poursuivre Sergio pour récupérer la victoire, et ça aurait été serré, mais nous l’aurions fait ! Et puis ça nous a encore échappé, poursuit-il, littéralement
                            abattu devant les médias. C’est la course… Si vous m’aviez dit au début de ce week-end que j’aurais marqué des points, j’aurais dit OK, ça va être un week-end assez fantastique ! Mais si l’on m’avait dit que je serais en tête
                            de la course pour terminer comme ça… honnêtement, ça fait vraiment mal. J’espère juste avoir donné à Toto (Wolff, le patron de l’écurie, ndlr) quelques problèmes à régler pour l’avenir. Je suis heureux et fier pour ça ! »
                        </p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2><a href="news2.html">TENNIS:NADAL DÉCORÉ PAR LA COMMUNAUTÉ DE MADRID</a></h2>
                    <img src="assets/img/sport2.jpg">
                    <p>Rafael Nadal a reçu jeudi la Grand-Croix de l'Ordre du 2 mai...</p>
                </div>
                <div class="pins">
                    <h2><a href="news7.html">LA JUVENTUS HUMILIE LE BARÇA (0-3)</a></h2>
                    <img src="assets/img/sport7.jpg">
                    <p>La Juventus Turin a signé une victoire sensationnelle au Camp Nou face au FC Barcelone...</p>
                </div>
                <div class="pins">
                    <h2><a href="news15.html">Jackson ''ne peut toujours pas goûter ni sentir'' après COVID</a></h2>
                    <img src="assets/img/sport15.jpg">
                    <p>Lamar Jackson a lancé pour 107 verges et deux touchés, ainsi que 94 verges au sol et un score à...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news11.html">Moore espère plus de magie</a>
                    </h2>
                    <img src="assets/img/sport11.jpg">
                    <p>Ryan Moore pense que Magical est capable de remporter sa huitième victoire dans le Groupe 1....</p>
                </div>
                <div class="pins">
                    <h2><a href="news6.html">Qui peut encore gagner la Race to Dubai?</a></h2>
                    <img src="assets/img/sport6.jpg">
                    <p>Patrick Reed, Tommy Fleetwood, Collin Morikawa et Lee Westwood peuvent garantir la...</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>