<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>Jackson''ne peut toujours pas goûter ni sentir''après COVID</h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport15.jpg">
                    <div class="articlecontent">
                        <h3>Lamar Jackson a lancé pour 107 verges et deux touchés, ainsi que 94 verges et un score pour mener les Ravens de Baltimore à la victoire sur les Cowboys de Dallas après avoir raté leur défaite face aux Steelers de Pittsburgh en
                            raison d'un coronavirus.</h3>
                        <h4><br>Lamar Jackson admet qu'il avait l'impression d'avoir raté une saison entière car il a été forcé de mettre en quarantaine pendant 10 jours après avoir été testé positif pour le coronavirus. </h4>
                        <p1><br>Les Ravens de Baltimore ont fait son retour à l'action lors de la victoire de mardi soir sur les Cowboys de Dallas, après avoir raté la défaite de la semaine 12 face aux Steelers de Pittsburgh, au cours de laquelle Robert Griffin
                            III a débuté sous le centre.
                        </p1>
                        <p1><br><br>Jackson a terminé 12e sur 17 pour 107 verges, deux touchés et une interception, ainsi qu'une course de 94 verges et un score de 13 courses pour aider Baltimore à réussir une séquence de trois défaites consécutives.
                        </p1>
                        <p1><br><br>«J'ai eu une petite grippe, je ne peux toujours pas vraiment goûter et sentir mais je suis bon. Je ne souhaiterais cela à personne», a-t-il déclaré.
                            <br><br> L«Je dormais la plupart du temps, mais quand j'étais debout, j'étudiais le cinéma pour les Cowboys en sachant que je ne pouvais pas jouer à Pittsburgh. Quand j'ai découvert que je l'avais, j'étais coché parce que c'était
                            un gros match.
                            <br><br>"Je vivais juste beaucoup d'émotions. Pourquoi diable est-ce que ça devait venir maintenant? C'est ce que c'est. J'ai l'impression que mes gars se sont battus dans ce match, mais je suis ici maintenant, nous devons
                            juste continuer de gérer."
                            <br><br>L'entraîneur-chef des Baltimore Ravens, John Harbaugh, a été effusif à propos de Lamar Jackson après que le quart-arrière ait joué dans sa victoire contre Dallas lors de son premier match depuis son test positif pour
                            le coronavirus Il y avait une énergie renouvelée pour Jackson contre les Cowboys alors qu'il devenait le premier quart-arrière de l'histoire de la NFL à atteindre 5 000 verges par la passe et 2 500 verges au cours des trois
                            premières saisons de sa carrière.
                        </p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2>
                        <a href="news3.html">KENIN JOUEUSE DE L'ANNÉE 2020</a>
                    </h2>
                    <img src="assets/img/sport3.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news7.html">LA JUVENTUS HUMILIE LE BARÇA (0-3)</a></h2>
                    <img src="assets/img/sport7.jpg">
                    <p>La Juventus Turin a signé une victoire sensationnelle au Camp Nou face au FC Barcelone...</p>
                </div>
                <div class="pins">
                    <h2><a href="news2.html">TENNIS:NADAL DÉCORÉ PAR LA COMMUNAUTÉ DE MADRID</a></h2>
                    <img src="assets/img/sport2.jpg">
                    <p>Rafael Nadal a reçu jeudi la Grand-Croix de l'Ordre du 2 mai de la Communauté de...</p>
                </div>
                <div class="pins">
                    <h2><a href="news1.html">Ligue des champions : PSG-Basaksehir interrompu</a></h2>
                    <img src="assets/img/sport1.jpg">
                    <p>le match PSG-Basaksehir interrompu,Erdogan dénonce le rac...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news11.html">Moore espère plus de magie</a>
                    </h2>
                    <img src="assets/img/sport11.jpg">
                    <p>Ryan Moore pense que Magical est capable de remporter sa huitième victoire dans le Groupe 1....</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>