<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>Ligue 1 : Vieira limogé par Nice et remplacé par son adjoint
                    </h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport16.jpg">
                    <div class="articlecontent">
                        <h3>L'OGC Nice a annoncé, vendredi, avoir limogé son entraîneur Patrick Vieira, sur la sellette après cinq défaites importantes, toutes compétitions confondues. Le club de Ligue 1 a confié l'équipe à l'entraîneur adjoint, le discret
                            Adrian Ursea.
                        </h3>
                        <p1><br>L'entraîneur du club de football de Nice, Patrick Vieira, fragilisé par cinq défaites de rang toutes compétitions confondues, a été démis de ses fonctions vendredi, a annoncé le club azuréen. "Arrivé à l'OGC Nice à l'été 2018,
                            Patrick Vieira n'est plus l'entraîneur de l'OGC Nice à compter de ce jour", écrit le club dans un communiqué.
                            <br>C'est son ancien adjoint, le Roumain Adrian Ursea (53 ans), qui prend les rênes du Gym, en vue du match à Reims dimanche en Ligue 1. Symbole du pedigree discret d'Ursea, le club niçois avait mal orthographié son prénom
                            dans le communiqué publié sur le site du club, écrivant "Adrien" au lieu d'"Adrian". Le club ne précise pas s'il est à la recherche d'un remplaçant plus pérenne.
                        </p1>
                        <h4>Une rupture définitive après la défaite contre Leverkusen
                        </h4>
                        <p1><br><br>La défaite à domicile (3-2) contre Leverkusen jeudi, synonyme d'élimination dès la phase de groupes de la Ligue Europa, a marqué la fin du bail de Vieira à Nice. Arrivé à l'été 2018 sur le banc niçois après une première
                            expérience mitigée au New York City FC, l'ancien milieu champion du monde 1998 avait décroché une septième place de Ligue 1 pour sa première saison.
                        </p1>
                        <p1><br><br> Affichant de nouvelles ambitions après son rachat par le groupe pétrochimique Ineos, le Gym avait décroché son ticket pour la C3 grâce à sa cinquième place de L1 lors de la saison 2019-20, arrêtée au bout de 28 journées
                            à cause de la pandémie. Le bon départ cette saison des hommes de Vieira a été stoppé par la série, en cours, de cinq défaites consécutives. Les Niçois, actuels 11es du championnat avec 17 points, ont notamment perdu pour longtemps
                            leur capitaine Dante, victime d'une rupture des ligaments croisés du genou.


                        </p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2>
                        <a href="news3.html">KENIN JOUEUSE DE L'ANNÉE 2020</a>
                    </h2>
                    <img src="assets/img/sport3.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news14.html">les chronos record relancent le débat sur le dopage</a></h2>
                    <img src="assets/img/sport14.jpg">
                    <p>Dimanche, le marathon et le semi-marathon de Valence, en Espagne, ont laissé tout le monde sans...</p>
                </div>
                <div class="pins">
                    <h2><a href="news15.html">Jackson ''ne peut toujours pas goûter ni sentir'' après COVID</a></h2>
                    <img src="assets/img/sport15.jpg">
                    <p>Lamar Jackson a lancé pour 107 verges et deux touchés, ainsi que 94 verges au sol et un score à...</p>
                </div>
                <div class="pins">
                    <h2><a href="news1.html">Ligue des champions : PSG-Basaksehir interrompu</a></h2>
                    <img src="assets/img/sport1.jpg">
                    <p>le match PSG-Basaksehir interrompu,Erdogan dénonce le rac...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news11.html">Moore espère plus de magie</a>
                    </h2>
                    <img src="assets/img/sport11.jpg">
                    <p>Ryan Moore pense que Magical est capable de remporter sa huitième victoire dans le Groupe 1....</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>