<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>LA JUVENTUS HUMILIE LE BARÇA (0-3)</h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport7.jpg">
                    <div class="articlecontent">
                        <h4>LIGUE DES CHAMPIONS - La Juventus Turin a signé une victoire sensationnelle au Camp Nou face au FC Barcelone (0-3) pour finir à la première place du groupe G avec une meilleure différence de buts particulière que le Barça, vainqueur
                            à l'aller en Italie (0-2). Cristiano Ronaldo a signé un doublé en transformant deux penalties. Les deux équipes avaient déjà validé leur billet pour les 8es de finale.</h4>
                        <p1><br>La Juventus a réussi le coup parfait en l'emportant ce mardi sur la pelouse du FC Barcelone (0-3), dans le cadre de la dernière journée de la phase de groupes de la Ligue des champions. Les hommes d'Andrea Pirlo devaient l'emporter
                            par deux buts d'écart, sur un meilleur score que 2-0 (puisqu'ils avaient été battus sur ce score par le Barça au match aller), pour terminer en tête de la poule G. Grâce notamment au deux penalties transformés par Cristiano
                            Ronaldo, et au but de Weston McKennie, les Bianconeri ont donc réussi leur pari.
                        </p1>
                        <p1><br><br>Si le FC Barcelone et la Juventus étaient tous deux déjà assurés de disputer les huitièmes de finale de la compétition avant même le coup d'envoi, ce choc entre anciens vainqueurs de la Ligue des champions était surtout
                            l'occasion d'assister au duel entre les deux superstars mondiales Cristiano Ronaldo et Lionel Messi. Une opposition que le microcosme du football n'avait plus eu l'occasion de voir depuis plus de deux ans et demi (le 6 mai
                            2018, à l'occasion d'un Clasiso Barça-Real). Une éternité.
                        </p1>
                        <h4><br>CR7 RÉGALE, BUFFON ÉCŒURE MESSI</h4>
                        <p1><br><br>Et ce duel a rapidement tourné à l'avantage de CR7. Alors que le Portugais n'avait jamais marqué contre Messi en C1, celui-ci a d'abord ouvert le score sur penalty dès la 13e minute (0-1), avant de remettre le couvert,
                            toujours sur penalty, en seconde période (0-3, 52e). Entre temps, Weston McKennie avait lui aussi trouvé la faille face à Marc-André Ter Stegen (20e). De quoi offrir un succès somme toute logique aux Bianconeri. Car côté catalan,
                            la pauvreté du jeu offensif a encore sauté aux yeux des observateurs. Livré à lui-même, Lionel Messi a été le seul à tenter de choses et à inquiéter un Gianluigi Buffon impeccable devant sa cage (22e, 36e, 48e, 65e et 90e).
                            <br><br> Devant ce mur, "La Pulga" n'a pu compter sur l'aide de personne, et surtout par sur celle d'un Antoine Griezmann transparent. Le Français qui avait pourtant marqué lors des deux dernières sorties européennes du Barça,
                            est cette fois passé totalement à travers. Côté défensif, Clément Lenglet n'a pas fait mieux et a été remplacé avant l'heure de jeu par le revenant Samuel Umtiti (55e). Une accumulation de contre-performances qui a donc fini
                            de plomber les espoirs catalans de conserver la première place du groupe G.
                            <br><br>Quant à lui, Cristiano Ronaldo pourra se féliciter d'avoir su répondre présent, lui qui en est désormais à quatre buts cette saison en Ligue des champions, et qui aura donc l'occasion d'en ajouter un, voire plus, dès
                            les huitièmes de finale de la compétition. Lionel Messi et CR7 auront peut-être une nouvelle occasion de croiser le fer cette saison en coupe d'Europe mais ce soir, le quintuple Ballon d'or lusitanien a clairement remporté
                            la bataille.
                        </p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2>
                        <a href="news3.html">KENIN JOUEUSE DE L'ANNÉE 2020</a>
                    </h2>
                    <img src="assets/img/sport3.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news4.html">F1 -HAAS CONDAMNE LE COMPORTEMENT DE NIKITA MAZEPIN, SON FUTUR PILOTE</a></h2>
                    <img src="assets/img/sport4.jpg">
                    <p>SAISON 2021 - La collaboration entre Nikita Mazepin et Haas commence très mal. Le pilote russe,...</p>
                </div>
                <div class="pins">
                    <h2><a href="news2.html">TENNIS:NADAL DÉCORÉ PAR LA COMMUNAUTÉ DE MADRID</a></h2>
                    <img src="assets/img/sport2.jpg">
                    <p>Rafael Nadal a reçu jeudi la Grand-Croix de l'Ordre du 2 mai de la Communauté de...</p>
                </div>
                <div class="pins">
                    <h2><a href="news1.html">Ligue des champions : PSG-Basaksehir interrompu</a></h2>
                    <img src="assets/img/sport1.jpg">
                    <p>le match PSG-Basaksehir interrompu,Erdogan dénonce le rac...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news11.html">Moore espère plus de magie</a>
                    </h2>
                    <img src="assets/img/sport11.jpg">
                    <p>Ryan Moore pense que Magical est capable de remporter sa huitième victoire dans le Groupe 1....</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>