<!DOCTYPE html>
<html>

<head>
    <title>Responsive news website</title>
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="stylesheet" type="text/css" href="news1.css">
    <link rel="shortcut icon" href="assets/img/logo.ico">

    <meta name="viewport" content="width=device-width , initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"> <img src="assets/img/logo.png"> </a>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="annonce.html">Annonces</a></li>
                        <li><a href="billets.html">Billets</a></li>
                        <li><a href="actualites.html">Actualités</a></li>
                        <li><a href="account.html">Compte</a></li>
                    </ul>
                </nav>
                <img src="assets/img/cart.png" class="cart" alt="">
            </div>
            <div class="barre">
                <nav>
                    <ul>
                        <li><a href="fb.html">Football</a></li>
                        <li><a href="tennis.html">Tennis</a></li>
                        <li><a href="bb.html">Basketball  </a></li>
                        <li><a href="hb.html">Handball    </a></li>
                        <li><a href="ftf1.html">Lig Tunisie Pro1</a></li>
                        <li><a href="jo.html">Jeux olympiques</a></li>
                        <li><a href="cm.html">Coupe du monde</a></li>
                        <li><a href="transfert.html">Transferts</a></li>
                        <li><a href="ath.html">Athlétisme</a></li>
                    </ul>
                </nav>
            </div>
            <div class="titre">
                <ul>
                    <h2>TENNIS:NADAL DÉCORÉ PAR LA COMMUNAUTÉ DE MADRID</h2>
                </ul>
            </div>
        </div>
        <div class="container1">
            <div class="news">
                <div class="article big">
                    <date>
                        Publié le : 08/12/2020
                    </date>
                    <auteur>
                        Texte par : Hamda Yedes
                    </auteur>
                    <img src="assets/img/sport2.jpg">
                    <div class="articlecontent">
                        <h4>Rafael Nadal a reçu jeudi la Grand-Croix de l'Ordre du 2 mai de la Communauté de Madrid. Cette reconnaissance honorifique récompense les "comportements exemplaires qui se sont démarqués dans leur service à la citoyenneté". L'Espagnol
                            est ainsi salué pour sa remarquable carrière sportive mais aussi son engagement en tant que citoyen.</h4>
                        <p1><br>C'est un honneur qui le touche particulièrement. Dans sa carrière sportive, Rafael Nadal a reçu une multitude de trophées et d'éloges, mais rien de comparable à cette décoration. Jeudi, le numéro 2 mondial a été ainsi fait
                            Grand-Croix de l'Ordre du 2 Mai par la Communauté de Madrid. Cette distinction honorifique, à laquelle aucune rétribution financière n'est attachée, salue la carrière pleine "de valeurs et d'efforts" du Majorquin selon la présidente
                            de la Communauté de Madrid Isabel Díaz Ayuso qui lui a remise.
                        </p1>
                        <p1><br><br>Nadal se voit aussi récompensé pour son implication dans la lutte contre la pandémie de coronavirus. En plus de ses dons personnels, il a été à l'initiative d'une levée de fonds avec le basketteur Pau Gasol, par l'intermédiaire
                            de la vente aux enchères d'accessoires et d'équipements de grands sportifs espagnols. 14 millions d'euros avaient ainsi été collectés. Une fois décoré, "Rafa" a ainsi eu des mots pour les victimes du virus et a réitéré sa reconnaissance
                            aux équipes médicales et aux forces de sécurité de l'Etat espagnol. </p1>
                        <p1><br><br>En 2008, Nadal avait déjà reçu un le Prix International de la Communauté de Madrid pour ses mérites sportifs. Dans le monde du sport espagnol, rares ont été ceux qui ont obtenu cette Grand-Croix : Vicente Del Bosque, ancien
                            entraîneur du Real Madrid et ex-sélectionneur de la Roja, ainsi que l'ex-champion cycliste vainqueur du Tour de France Alberto Contador en font partie.</p1>
                    </div>
                </div>
            </div>
            <div class="sidebar">

                <div class="pins">
                    <h2><a href="news1.html">Ligue des champions : PSG-Basaksehir interrompu</a></h2>
                    <img src="assets/img/sport1.jpg">
                    <p>le match PSG-Basaksehir interrompu,Erdogan dénonce le rac...</p>
                </div>
                <div class="pins">
                    <h2><a href="news7.html">LA JUVENTUS HUMILIE LE BARÇA (0-3)</a></h2>
                    <img src="assets/img/sport7.jpg">
                    <p>La Juventus Turin a signé une victoire sensationnelle au Camp Nou face au FC Barcelone...</p>
                </div>
                <div class="pins">
                    <h2><a href="news15.html">Steve Thompson «ne se souvient pas» avoir gagné la Coupe du monde</a></h2>
                    <img src="assets/img/sport9.jpg">
                    <p>Steve Thompson a gagné la Coupe du monde en 2003 avec l’Angleterre,remporté...</p>
                </div>
                <div class="pins">
                    <h2>
                        <a href="news3.html">KENIN JOUEUSE DE L'ANNÉE 2020</a>
                    </h2>
                    <img src="assets/img/sport3.jpg">
                    <p>A l'occasion des WTA Player Awards organisés ce mardi, Sofia Kenin a été élue meilleure...</p>
                </div>
                <div class="pins">
                    <h2><a href="news6.html">Qui peut encore gagner la Race to Dubai?</a></h2>
                    <img src="assets/img/sport6.jpg">
                    <p>Patrick Reed, Tommy Fleetwood, Collin Morikawa et Lee Westwood peuvent garantir la...</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
            <div class="bottomlinks">
            </div>
        </div>
    </div>
    </div>
</body>

</html>